[Unit]
Description=Kibana6

[Service]
Type=simple
User=www-data
Environment=NODE_ENV=production
Environment=CONFIG_PATH=/opt/kibana6/config/kibana.yml
ExecStart=/opt/kibana6/node/bin/node /opt/kibana6/src/cli

[Install]
WantedBy=multi-user.target
