[Unit]
Description=Elasticsearch ({{ environment }})
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/elasticsearch-{{ environment }}
WorkingDirectory=/usr/share/elasticsearch
User=elasticsearch
Group=elasticsearch

#ExecStartPre=/usr/share/elasticsearch/bin/elasticsearch-systemd-pre-exec
ExecStartPre=/usr/bin/install -d ${PID_DIR} -m 755 -o elasticsearch -g elasticsearch
ExecStart=/usr/share/elasticsearch/bin/elasticsearch \
                                                -p ${PID_DIR}/elasticsearch-{{ environment }}.pid \
                                                --quiet

StandardOutput=journal
StandardError=inherit

LimitNOFILE=65535
LimitNPROC=16384
LimitMEMLOCK=infinity
LimitAS=infinity
LimitFSIZE=infinity

TimeoutStopSec=0
KillSignal=SIGTERM
KillMode=process
SendSIGKILL=no
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
